<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/areas.css">
    <title>Neumonología</title>
</head>
<body>
    <%-include('fragments/navbar')%>
    
                  <div >
                    <div class="banner">
                      <img src="images/kine1.jpg">
                    <div
                            class="
                                heroTextTitleAreas
                                d-flex
                                flex-column
                                justify-content-center"
                                >
                            <h1 class="mt-auto mb-2">
                                Neumonologia
                            </h1>
                    </div>
                  </div>
                    

                  </div>   
                    <h2 class="mb-lg-3 mb-3 centrar-texto" style="margin-top: 50px; margin-left: 50px;">
                        ¿Por qué y desde cuando hacemos esto?
                    </h2>

                    <p style="margin-left: 50px; margin-right: 50px;">
                        El objetivo es lograr estabilizar los síntomas de asma,
                        asociados a factores emocionales como disparadores de
                        las crisis de asma, para mejorar la calidad de vida. El
                        asma es una enfermedad crónica q con un abordaje
                        interdisciplinario, puede mejorar su manejo y disminuir
                        las consultas e internaciones. Estamos trabajando en el
                        programa de asma grave desde junio del 2019
                    </p>
                  </div>

            <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 15px;">
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic1.jpg" class="card-img-top" >
                    <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);"> Dr Gonzalez </h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic2.jpg" class="card-img-top" >
                    <div class="card-body"  style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr Bloom </h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 ,6,6,0.674);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic3.jpg" class="card-img-top" >
                    <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr flanders</h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic4.jpg" class="card-img-top" >
                    <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr M.Simpson</h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic4.jpg" class="card-img-top" >
                    <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr J.Simpson</h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-bottom: 25px;">
                  <div class="card mx-auto text-center" style="width: 300px;">
                    <img src="images/areas/medic4.jpg" class="card-img-top" >
                    <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
                      <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr T.Simpson</h5>
                      <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en kine</h6>
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>

          <hr style="height: 10px; background:#30499b">
    
          <div class="container" style="margin-top: 50px;">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 25px;">
                    <div class="col-lg-10 col-md-10 col-12">
                        <h2 class="mb-lg-2 mb-7 centrar-texto">
                            info
                        </h2>
    
                        <p class="centrar-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Possimus aperiam vel, rem raugtione dolorem ullam inventore.
                              Tempore perspiciatis doloremque esse sapiente, dolorem, 
                              dolore incidunt beatae dolorum ut laudantium facilis reprehenderit!
                        </p>
                    </div>
                </div>

                <div class="col-3 col-sm-5" style="margin-top: 25px;">
                    <div class="col-lg-12 col-6 ps-12">
                        <img
                            src="/images/asma.jpg"
                            class="img-fluid galleryImage sombra-img"
                            alt="get a vaccine"
                            title="get a vaccine for yourself"
                        />
                    </div>
                </div>
    
                <div class="col-3 col-sm-5" style="margin-top: 25px;">
                    <div class="col-lg-12 col-6 ps-12">
                        <img
                            src="/images/sala.jpg"
                            class="img-fluid galleryImage sombra-img"
                            alt="get a vaccine"
                            title="get a vaccine for yourself"
                        />
                    </div>
                </div>

                <div class="col-6 col-sm-7 text-right" style="margin-top: 25px;"> 
                    <div class="col-lg-10 col-md-10 col-12">
                        <h2 class="mb-lg-2 mb-7 centrar-texto">
                            info
                        </h2>
    
                        <p class="centrar-texto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Quo voluptatibus unde quisquam magni beatae.
                             Quaerat debitis dolorum nostrum sit aliquid? Aperiam,
                             facilis perferendis sapiente placeat aut molestias numquam voluptate deleniti?
                        </p>
                    </div>
                </div>  
  
            </div>
        </div>
</body>
</html>