
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/areas.css">
  <title>Neumonología</title>

<body>
  <%-include('fragments/navbar')%>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="banner">
            <img src="images/kine1.jpg">
              <h1 class="col-sm-4 col-md-4 col-lg-4" >
                Neumonología
              </h1>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <h2 class="mb-lg-3 mb-3 centrar-texto" style="margin-top: 50px; margin-left: 50px;">
      ¿Por qué y desde cuando hacemos esto?
    </h2>

    <p style="margin-left: 50px; margin-right: 50px;">
      El objetivo es lograr estabilizar los síntomas de asma,
      asociados a factores emocionales como disparadores de
      las crisis de asma, para mejorar la calidad de vida. El
      asma es una enfermedad crónica q con un abordaje
      interdisciplinario, puede mejorar su manejo y disminuir
      las consultas e internaciones. Estamos trabajando en el
      programa de asma grave desde junio del 2019
    </p>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 15px;">
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic1.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);"> Dr Gonzalez </h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 6 6 / 82%);">Especialidad en kine
              </h6>
            </div>
          </div>
        </div>
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic2.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr Bloom </h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgb(6 ,6,6,0.674);">Especialidad en kine
              </h6>
            </div>
          </div>
        </div>
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic3.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr flanders</h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en
                kine</h6>
            </div>
          </div>
        </div>
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic4.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr M.Simpson
              </h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en
                kine</h6>
            </div>
          </div>
        </div>
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic4.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr J.Simpson
              </h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en
                kine</h6>
            </div>
          </div>
        </div>
        <div class="col" style="margin-bottom: 25px;">
          <div class="card mx-auto text-center" style="width: 300px;">
            <img src="images/areas/medic4.jpg" class="card-img-top">
            <div class="card-body" style="background:rgba(66, 66, 234, 0.367)">
              <h5 class="card-title" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);"> Dr T.Simpson
              </h5>
              <h6 class="card-text" style="color:white; text-shadow: 2px 1px 3px rgba(6, 6, 6, 0.674);">Especialidad en
                kine</h6>
            </div>
          </div>
        </div>
    </div>

    </div>
    </div>

    <hr style="height: 15px; max-width: 90%; margin-left: 50px; background:#30499b">

    <div class="container">
      <div class="row margenes" style="margin-top: 20px;">
          <div class="col-md-6 col-sm-6">
                  <h2 class="mb-lg-2 mb-7 centrar-texto">
                      ¿Cómo nosotros combatimos el asma?
                  </h2>

                  <p class="centrar-texto">
                      Trabajamos con entrevistas familiares e
                      individuales, realizando psicoeduacion y
                      psicoterapia, de acuerdo al caso
                      particular. Focalizamos en la
                      comprensión de la enfermedad, la
                      adherencia al tratamiento y la calidad
                      de vida del paciente y su familia.
                  </p>
          </div>
          <div class="col-md-5 col-sm-5 margenes" style="margin-top: 20px;">
                  <img
                      src="/images/asma.jpg"
                      class="img-fluid galleryImage sombra-img"
                      width="100%"
                      height="100%"
                      title="get a vaccine for yourself"
                  />
          </div>
      </div>

      <div class="row margenes" style="margin-top: 20px;">
          <div class="col-md-5 col-sm-5">
                  <img
                      src="/images/sala.jpg"
                      class="img-fluid galleryImage sombra-img"
                      alt="get a vaccine"
                      title="get a vaccine for yourself"
                  />
          </div>
          <div class="col-md-6 col-sm-6 centrar-texto" style="margin-top: 20px;">                           
                  <h2 class="mb-lg-2 mb-7 text-right">
                      ¿Como podemos saber si sufrimos asma?
                  </h2>
                  <p class="text-right">
                      Tener tos persistente, ruidos en el
                      pecho, dificultad para respirar así como
                      dolor torácico o ronquidos exagerados al
                      dormir son algunos de los síntomas que
                      pueden alertar sobre un problema
                      respiratorio. En estas ocasiones es
                      bastante común acudir a un médico
                      especialista en Neumología para tratar
                      de forma eficaz los síntomas y evitar la
                      progresión de una enfermedad
                      respiratoria.
                  </p>
          </div>
      </div>

      </div>
    </div>
</body>
