<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>post</title>
        <%-include('fragments/head')%>
    </head>
    <body>
        <%-include('fragments/navbar',{ login:login})%>

        <div class="p-6 mb-4 rounded-2">
            <div class="container-fluid formularioPost">
                <form action="/nuevoPost" method="post">
                    <span
                        class="vnumgf obligatorio"
                        id="i4"
                        aria-label="Pregunta obligatoria"
                    >
                        *Obligatorio</span
                    >
                    <ul>
                        <li>
                            <label class="letras" for="titulo">Titulo:</label>
                            <span
                                class="vnumgf asteriscos"
                                id="i4"
                                aria-label="Pregunta obligatoria"
                            >
                                *</span
                            >
                            <input
                                type="text"
                                id="titulo"
                                name="titulo"
                                required
                            />
                        </li>

                        <label class="letras" for="titulo">Descripcion:</label>
                        <span
                            class="vnumgf"
                            id="i4"
                            aria-label="Pregunta obligatoria"
                            style="margin-left: 10px"
                        >
                            *</span
                        >
                        <div
                            id=":ri"
                            class="Am Al editable LW-avf tS-tW cuadro"
                            hidefocus="true"
                            aria-label="Cuerpo del mensaje"
                            g_editable="true"
                            role="textbox"
                            aria-multiline="true"
                            contenteditable="true"
                            tabindex="1"
                            style="
                                direction: ltr;
                                background-color: #fff;
                                min-height: 266px;
                                min-width: 1000px;
                            "
                            spellcheck="false"
                        >
                            <br />
                        </div>
                        <li>
                            <label class="letras" for="fecha">Fecha:</label>
                            <span
                                class="vnumgf asteriscos"
                                id="i4"
                                aria-label="Pregunta obligatoria"
                            >
                                *</span
                            >
                            <input type="date" id="fecha" name="fecha" />
                        </li>
                        <li>
                            <label class="letras" for="imagen">Imagen:</label>
                            <form
                                action="/nuevoPost"
                                method="post"
                                enctype="multipart/form-data"
                            >
                                <input
                                    type="file"
                                    name="imagen"
                                    style="background-color: #fff"
                                />
                            </form>
                        </li>
                        <li>
                            <label class="letras" for="enlace">Enlace:</label>
                            <input type="url" id="enlace" name="enlace" />
                        </li>
                        <span
                            class="vnumgf"
                            id="i3"
                            aria-label="Pregunta obligatoria"
                        >
                            *Los tags deben estar separados por ","</span
                        >
                        <li>
                            <label class="letras" for="tag">Tag:</label>
                            <input type="text" id="tag" name="tag" />
                        </li>
                        <li class="button lg">
                            <button
                                type="button"
                                class="btn"
                                style="
                                    background-color: #30499b;
                                    color: #fff;
                                    width: 400px;
                                "
                            >
                                Postear
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <%-include('fragments/footer')%>
        <!-- footer-->
        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    </body>
</html>
