.banner{
    position: relative;
    display: inline-block;
    width: 1470px;
    height: 40vh;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.banner img{
    width: 100%;
    height: 100%;
    
}

.heroTextTitleAreas{
        position: relative;
        background-color: white;
        bottom: 100px;
        width: 25%;
        margin-bottom: -100px;
        padding: 2rem;
        color: #30499b;
        text-shadow: 2px 1px 2px black;
}