.publicacion{
    margin-left: 9.5%;
    margin-right: 9.5%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}
.btn-primary{
    background-color: #30499B;
}
.publicacion p{
    color: #727272;
}
body{
    width: 100%;
    height: 100%;
    background-color:#f5f4f1;
}

.col-12{
    margin-top: 20px;
}

@media (max-width: 400px) {
    .publicacion{
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 20%;
        padding-bottom: 10%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }
}
  