/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
    margin-top: 5%;
    background-color: #30499b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 50%;
    margin-left: 25%;
}

/* Style the container */
.form-bonito {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10%;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 7.5%;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.obligatorio {
    color: #db3937;
    margin-top: 25px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }
    input[type="submit"] {
        background-color: #30499b;
        width: 30%;
        margin-left: 35%;
        margin-top: 5%;
    }
}
