@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f5f5f5;
}

.volver{
    font-size: 50px;
    padding-top: 5%;
    margin-left: 18%;
    color: #30499B;
}
.volver:hover{
    color: #3300C0;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 1000%;
    margin: auto;
    padding: 60px;
    background: white;
    margin-top: 20px;
    border-top: 6px solid #3300C0;
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 600;
}

.sub-title{
    font-size: 16px;
    font-weight: 500;
    color: rgb(166, 166, 166);
}

.container-all img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin-left: 40%;
    margin-top: 8%;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}