<!DOCTYPE html>
<html lang="en">
    
    <head>
        <%-include('head')%>
    </head>
    <body>
        <div id="about">
                <div class="row">
                            <div class="col">
                                <div class="col-lg-6 col-md-4 col-sm-6 mx-auto animate__animated animate__backInLeft" style="margin-top: 50px;">
                                    <div
                                        class="featured-circle circule-background shadow-lg d-flex justify-content-center align-items-center"
                                    >
                                        <p class="featured-text">
                                            <span class="featured-number"
                                                >4</span
                                            >
                                            <br />
                                            Millones
                                            <br />
                                            <span class="text-circule">
                                                de personas con asma</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-lg-6 col-md-4 col-sm-6 mx-auto animate__animated animate__backInLeft" style="margin-top: 50px;">
                                    <div
                                        class="featured-circle circule-background shadow-lg d-flex justify-content-center align-items-center"
                                    >
                                        <p class="featured-text">
                                            <span class="featured-number"
                                                >780</span
                                            >
                                            <br />
                                            Mil
                                            <br />
                                            <span class="text-circule">
                                                adolecentes con asma</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-lg-6 col-md-4 col-sm-6 mx-auto animate__animated animate__backInLeft" style="margin-top: 50px;">
                                    <div
                                        class="featured-circle circule-background shadow-lg d-flex justify-content-center align-items-center"
                                    >
                                        <p class="featured-text">
                                            <span class="featured-number"
                                                >17</span
                                            >
                                            <br />
                                            Mil
                                            <br />
                                            <span class="text-circule">
                                                Internaciones por año</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col-lg-6 col-md-4 col-sm-6 mx-auto animate__animated animate__backInLeft" style="margin-top: 50px;">
                                    <div
                                        class="featured-circle circule-background shadow-lg d-flex justify-content-center align-items-center"
                                    >
                                        <p class="featured-text">
                                            <span class="featured-number"
                                                >400</span
                                            >
                                            <br />
                                            <span class="text-circule">
                                                Muertes por año</span
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-6 col-md-6 col-12"> -->
                        <div class="container">
                            <div class="row margenes" style="margin-top: 20px;">
                                <h2 class="mb-lg-3 mb-3 centrar-texto">
                                    ¿Por qué y desde cuando hacemos esto?
                                </h2>
            
                                <p >
                                    El objetivo es lograr estabilizar los síntomas de asma,
                                    asociados a factores emocionales como disparadores de
                                    las crisis de asma, para mejorar la calidad de vida. El
                                    asma es una enfermedad crónica q con un abordaje
                                    interdisciplinario, puede mejorar su manejo y disminuir
                                    las consultas e internaciones. Estamos trabajando en el
                                    programa de asma grave desde junio del 2019
                                </p>
                            </div>
                        </div>

                    <div class="container">
                        <div class="row margenes" style="margin-top: 20px;">
                            <div class="col-md-6 col-sm-6">
                                    <h2 class="mb-lg-2 mb-7 centrar-texto">
                                        ¿Cómo nosotros combatimos el asma?
                                    </h2>

                                    <p class="centrar-texto">
                                        Trabajamos con entrevistas familiares e
                                        individuales, realizando psicoeduacion y
                                        psicoterapia, de acuerdo al caso
                                        particular. Focalizamos en la
                                        comprensión de la enfermedad, la
                                        adherencia al tratamiento y la calidad
                                        de vida del paciente y su familia.
                                    </p>
                            </div>
                            <div class="col-md-5 col-sm-5 margenes" style="margin-top: 20px;">
                                    <img
                                        src="/images/asma.jpg"
                                        class="img-fluid galleryImage sombra-img"
                                        width="100%"
                                        height="100%"
                                        title="get a vaccine for yourself"
                                    />
                            </div>
                        </div>

                            <!-- Force next columns to break to new line -->
                            <div class="w-100"></div>

                        <div class="row margenes" style="margin-top: 20px;">
                            <div class="col-md-5 col-sm-5">
                                    <img
                                        src="/images/sala.jpg"
                                        class="img-fluid galleryImage sombra-img"
                                        alt="get a vaccine"
                                        title="get a vaccine for yourself"
                                    />
                            </div>
                            <div class="col-md-6 col-sm-6 centrar-texto" style="margin-top: 20px;">                           
                                    <h2 class="mb-lg-2 mb-7 text-right">
                                        ¿Como podemos saber si sufrimos asma?
                                    </h2>
                                    <p class="text-right">
                                        Tener tos persistente, ruidos en el
                                        pecho, dificultad para respirar así como
                                        dolor torácico o ronquidos exagerados al
                                        dormir son algunos de los síntomas que
                                        pueden alertar sobre un problema
                                        respiratorio. En estas ocasiones es
                                        bastante común acudir a un médico
                                        especialista en Neumología para tratar
                                        de forma eficaz los síntomas y evitar la
                                        progresión de una enfermedad
                                        respiratoria.
                                    </p>
                            </div>
                        </div>

                            <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <!-- <div class="col-lg-10 col-md-10 col-12"> -->
                                    <h2 class="mb-lg-2 mb-7 centrar-texto">
                                        Tipos de Asma
                                    </h2>
                                    <p class="centrar-texto">
                                        <div class="container">
                                            <div class="row">
                                              <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/16.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10">
                                                <p class="text-asma">
                                                    Asma Alergica:
                                                </p>
                                                    El asma alérgica es el
                                            tipo más común.
                                                
                                              </div>
                                          
                                              <!-- Force next columns to break to new line -->
                                              <div class="w-100"></div>
                                          <br>

                                              <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/13.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10 fst-italic">
                                                <P class="text-asma"> Asma Estacional:</P>
                                               
                                                    En el
                                                    asma estacional, los síntomas reaparecen
                                                    en ciertas condiciones o en épocas
                                                    particulares del año.
                                                 
                                             </div>

                                             <div class="w-100"></div>

                                             <br>
                                             <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/28.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10">
                                                <p class="text-asma">Asma Ocupacional:</p>
                                                 Las personas con asma ocupacional
                                                pueden notar que sus síntomas empeoran
                                                mientras trabajan.
                                             </div>

                                             <div class="w-100"></div>

                                             <br>
                                             <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/20.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10">
                                                <p class="text-asma">Asma Inducida Ejercicios:</p>
                                                 El asma inducida por
                                                ejercicios ocurre cuando los síntomas
                                                aparecen durante o inmediatamente
                                                después de hacer ejercicio u otra forma
                                                de actividad extenuante.
                                             </div>

                                             <div class="w-100"></div>

                                             <br>
                                             <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/50.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10">
                                                <p class="text-asma">Asma dificl de Controlar:</p>
                                                 El asma difícil de controlar
                                                no es un subtipo o diagnóstico aceptado,
                                                sino segun pasientes cuesta mas
                                                controlarla.
                                             </div>

                                             <div class="w-100"></div>

                                             <br>
                                             <div class="col-md-1 col-sm-2">
                                                <img src = "/medical-icons/38.svg" height="30"/>
                                              </div>
                                              <div class="col-md-8 col-sm-10">
                                                <p class="text-asma">Asma Severa:</p>
                                                 El asma
                                                severa, o el asma frágil, afecta a
                                                aproximadamente el 4% de todos los
                                                adultos con asma.
                                             </div>
                                             
                                            </div>
                                          </div>
                                        
                                    </p>
                                <!-- </div> -->
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <!-- <div class="col-lg-12 col-6 ps-12"> -->
                                    <img
                                        src="/images/salah.jpg"
                                        class="img-fluid galleryImage sombra-img margenes"
                                        alt="get a vaccine"
                                        title="get a vaccine for yourself"
                                    />
                                    <img
                                        src="/images/sala.jpg"
                                        class="img-fluid galleryImage sombra-img"
                                        alt="get a vaccine"
                                        title="get a vaccine for yourself"
                                    />
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            </div>
    </body>
</html>
