
        <div id="about">
            <div class="container" id="conteBalls">
                <div class="row">
                    <div class="col">
                        
                        <div class="col-lg-5 col-md-4 col-sm-2 mx-auto" style="margin-top: 50px;">
                            <div
                                class="featured-circle circule-background circul shadow-lg d-flex justify-content-center align-items-center"
                            >
                                <p class="featured-text">
                                    <span class="featured-number"
                                        >4</span
                                    >
                                    <br />
                                    Millones
                                    <br />
                                    <span class="text-circule">
                                        de personas con asma</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-lg-6 col-md-4 col-sm-6 mx-auto" style="margin-top: 50px;">
                            <div
                                class="featured-circle circule-background circul shadow-lg d-flex justify-content-center align-items-center"
                            >
                                <p class="featured-text">
                                    <span class="featured-number"
                                        >780</span
                                    >
                                    <br />
                                    Mil
                                    <br />
                                    <span class="text-circule">
                                        adolecentes con asma</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-lg-6 col-md-4 col-sm-6 mx-auto" style="margin-top: 50px;">
                            <div
                                class="featured-circle circule-background circul shadow-lg d-flex justify-content-center align-items-center"
                            >
                                <p class="featured-text">
                                    <span class="featured-number"
                                        >17</span
                                    >
                                    <br />
                                    Mil
                                    <br />
                                    <span class="text-circule">
                                        Internaciones por año</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-lg-6 col-md-4 col-sm-6 mx-auto" style="margin-top: 50px;">
                            <div
                                class="featured-circle circule-background circul shadow-lg d-flex justify-content-center align-items-center"
                            >
                                <p class="featured-text">
                                    <span class="featured-number"
                                        >400</span
                                    >
                                    <br />
                                    <span class="text-circule">
                                        Muertes por año</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

