<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('head')%>
    </head>
    <body>
        <section class="hero" id="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            id="myCarousel"
                            class="carousel slide carousel-fade"
                            data-bs-ride="carousel"
                        >
                            <div class="carousel-inner">
                                <div
                                    class="
                                        carousel-item
                                        carousel-item-next
                                        carousel-item-start
                                    "
                                >
                                    <img
                                        img
                                        src="/images/hospital2.jpg"
                                        class="img-fluid"
                                        alt=""
                                    />
                                </div>

                                <div class="carousel-item">
                                    <img
                                        img
                                        src="/images/sala2.jpg"
                                        class="img-fluid"
                                        alt=""
                                    />
                                </div>

                                <div
                                    class="
                                        carousel-item
                                        active
                                        carousel-item-start
                                    "
                                >
                                    <img
                                        img
                                        src="/images/salah2.jpg "
                                        class="img-fluid"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>

                        <div
                            class="
                                heroText
                                d-flex
                                flex-column
                                justify-content-center
                            "
                        >
                            <!-- <h1 class="mt-auto mb-2">
                                Mejor
                                <div class="animated-info">
                                    <span class="animated-item">Salud</span>
                                    <span class="animated-item">Dia</span>
                                    <span class="animated-item">Vida</span>
                                </div>
                            </h1> -->
                            <h1 class="mt-auto mb-2">
                                ¿Que es el asma?
                            </h1>

                            <p class="mb-4">
                                El asma es un grave problema de salud pública a nivel mundial, 
                                se trata de una enfermedad que afecta directamente a las vías 
                                respiratorias de los pulmones, haciendo que estas se inflamen 
                                y reaccionen ante agentes externos como el polen, el humo o 
                                el polvo. ¡Pero esto se puede combatir!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
