<footer class="site-footer section-padding" id="contact">
    <div class="container">
        <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 map" >
            <%-include('map')%>
        </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
                <h5 class="mb-lg-4 mb-2">Socials</h5>
                <ul class="social-icon">
                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-facebook"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-twitter"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-instagram"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-youtube"
                        ></a>
                    </li>
                </ul>

                <div>
                    <p class="copyright-text">
                        Copyright © Medic Care 2021 <br /><br />Design:
                        <a
                            href="https://templatemo.com"
                            target="_parent"
                            >TemplateMo</a
                        >
                    </p>
                    <p class="copyright-text">
                        Distributed By:
                        <a
                            href="https://themewagon.com"
                            target="_parent"
                            >Themewagon</a
                        >
                    </p>
                </div>
            </div>
        </div>   
    </div>
</footer>
<a class="d-lg-none logo-celu img-fluid" >
    <img
    src="images/logo.png"
    alt="get a vaccine"
    title="get a vaccine for yourself"
/>
</a>