<footer class="site-footer section-padding" id="contact">
    
    <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 ">
                <h5 class="mb-lg-4 mb-2">Socials</h5>
                <ul class="social-icon">
                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-facebook"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-twitter"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-instagram"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-youtube"
                        ></a>
                    </li>
                </ul>

                <div>
                    <p class="copyright-text">
                        Correo electronico: <br /><br />Numero de Telefono:
                        <br><br>
                        <a
                            href="https://templatemo.com"
                            target="_parent"
                             >Direccion: </a
                        >
                    </p>
                </div>
            </div>
    </div>

        </div>   
    </div>  

</footer>
<a class="d-lg-none logo-celu img-fluid" >
    <img
    src="images/logo.png"
    alt="get a vaccine"
    title="get a vaccine for yourself"
/>
</a>