<footer class="site-footer section-padding" id="contact">
    <div class="container">
        <div class="row">
      
        <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.543273105266!2d-64.19970808477918!3d-31.399154781409713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988a2906302f%3A0xae97a5799545874a!2sHospital%20Pedi%C3%A1trico%20del%20Ni%C3%B1o%20Jes%C3%BAs!5e0!3m2!1ses!2sar!4v1652098863429!5m2!1ses!2sar" width="850" height="425" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

            <div class="col-lg-3 col-md-6 col-12 ms-auto">
                <h5 class="mb-lg-4 mb-2">Socials</h5>

                <ul class="social-icon">
                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-facebook"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-twitter"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-instagram"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-youtube"
                        ></a>
                    </li>
                </ul>

                <div>
                    <p class="copyright-text">
                        Copyright © Medic Care 2021 <br /><br />Design:
                        <a
                            href="https://templatemo.com"
                            target="_parent"
                            >TemplateMo</a
                        >
                    </p>
                    <p class="copyright-text">
                        Distributed By:
                        <a
                            href="https://themewagon.com"
                            target="_parent"
                            >Themewagon</a
                        >
                    </p>
                </div>
            </div>
        </div>   
    </div>
</footer>
<a class="d-lg-none logo-celu img-fluid" >
    <img
    src="images/logo.png"
    alt="get a vaccine"
    title="get a vaccine for yourself"
/>
</a>