<footer class="site-footer section-padding" id="contact">
    <div class="container">
        <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 map" >
            <%-include('map')%>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 ">
                
                </div>
            </div>

    </br>
    <div class="row">

    </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
                <h5 class="mb-lg-4 mb-2">Socials</h5>
                <ul class="social-icon">
                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-facebook"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-twitter"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-instagram"
                        ></a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="social-icon-link bi-youtube"
                        ></a>
                    </li>
                </ul>

                <div>
                    <p class="copyright-text">
                        Correo electronico: <br /><br />Numero de Telefono:
                        <br><br>
                        <a
                            href="https://templatemo.com"
                            target="_parent"
                             >Direccion: </a
                        >
                    </p>
                </div>
            </div>div>
        </div>   
    </div>
   <div class="container">
    <body>
        <form action="post" method="post">
                                <span class="obligatorio">* Obligatorio</span>
                <div class="row">
                    <div class="col-25">
                        <i class="fa-solid fa-comment-medical"></i>
                        <label for="titulo">Nombre</label>
                        <span class="obligatorio">*</span>
                    </div>
                    <div class="col-75">
                        <input
                            type="text"
                            name="nombre"
                            id="nombre"
                            placeholder="Ingresa tu nombre..."
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <i class="fa-solid fa-bars"></i>
                        <label for="apellido">Apellido</label>
                        <span class="obligatorio">*</span>
                    </div>
                    <div class="col-75">
                     <input
                            type="text"
                            name="apellido"
                            id="apellido"
                            placeholder="Agrega tu apellido..."
                        />
                    </div>
                </div>
                                        <div class="row">
                    <div class="col-25">
                        <i class="fa-solid fa-bars"></i>
                        <label for="email">Correo electrónico</label>
                        <span class="obligatorio">*</span>
                    </div>
                    <div class="col-75">
                     <input
                            type="text"
                            name="correo"
                            id="correo"
                            placeholder="Ingresa tu correo electronico..."
                        />
                    </div>
                </div>
                         <div class="row">
                    <div class="col-25">
                        <i class="fa-solid fa-bars"></i>
                        <label for="telefono">Teléfono</label>
                    </div>
                    <div class="col-75">
                     <input
                            type="text"
                            name="telefono"
                            id="telefono"
                            placeholder="Ingresa tu numero de telefono.."
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <i class="fa-solid fa-link"></i>
                        <label for="Consulta">Consulta</label>
                    </div>
                    <div class="col-75">
                        <input
                            type="text"
                            name="consulta"
                            placeholder="Ingresa tu consulta..."
                        />
                    </div>
                </div>

                <div class="row align-items-center">
                    <input type="submit" value="Subir" id="subirContac">
                </div>
        </form>
</div>
</footer>
<a class="d-lg-none logo-celu img-fluid" >
    <img
    src="images/logo.png"
    alt="get a vaccine"
    title="get a vaccine for yourself"
/>
</a>