<!DOCTYPE html>
<html lang="en">
<head>
    <link href=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity=
        "sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">

        <style>
            .titulo-text{
                
              font-size: 50px;
              color: rgb(255, 255, 255);
              text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.98);
              padding-left:20%;
              font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .container1 {
                margin-top: 50px;
                width: 100%;
            }
            .img1 {
                width: 100%;
                height: 100%;
            }

           
            </style>
</head>
<body>
    <section class="gallery">   
        <div class="container container1 margenes">
                <div class="card">
                    <img class="card-img-top img1" src=
                    "/images/grupoasma2.jpg">
                         
                        <div class="card-img-overlay">
                            <text class="titulo-text">
                                Grupo de profesionales
                            </text>
                        </div>
                </div>
        </div>
    </section>
</body>
</html>
