<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-6 ps-0">
                <img
                    src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                    class="img-fluid galleryImage"
                    alt="get a vaccine"
                    title="get a vaccine for yourself"
                />
            </div>

            <div class="col-lg-6 col-6 pe-0">
                <img
                    src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                    class="img-fluid galleryImage"
                    alt="wear a mask"
                    title="wear a mask to protect yourself"
                />
            </div>
        </div>
    </div>
</section>
