<link rel="stylesheet" media="(max-width: 800px)" href="example.css" />
<section class="gallery">
    <div class="container">
        <!-- <style>
            #text{
              font-size: 50px;
              color: rgb(255, 255, 255);
              text-shadow: 6px 2px 0px rgba(0,0,0,0.98);
              padding-left:250px;
              font-family: Georgia, 'Times New Roman', Times, serif;
            }
            </style> -->
        
        <div class="col-lg-10 col-md-5 col-sm-5 ps-0 ">
            <!-- <div id="overlay">
                <div id="text">Grupo de Pofesionales</div>
              </div> -->
            <img img src="/images/grupoasma2.jpg" class="img-fluid grupo-asm" alt="" />
        </div>
             <br>
             <br>
             <br>
       
    </div>
</section>
