<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/footer.css" />
    </head>

    <body>
        <h2 class="col-sm-8 col-md-9 col-lg-8">Ubicacion</h2>
        <script
            type="text/javascript"
            src="http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AqcB0nGFtpJ4G_FqucZVRZrjoYOVpPxTGfHz9XCEWlZ_pLKtDCjUuYqug9wOJ8CJ"
            async
            defer
        ></script>

        <script type="text/javascript">
            function GetMap() {
                let map = new Microsoft.Maps.Map("#myMap", {
                    center: new Microsoft.Maps.Location(
                        -31.39896246974225,
                        -64.19744430043583
                    ),
                    zoom: 17,
                });
                let center = map.getCenter();

                let pin = new Microsoft.Maps.Pushpin(center, {
                    icon: "images/marker.png",
                });

                map.entities.push(pin);
            }
        </script>
        <div
            id="myMap"
            class="map"
            style="position: relative; width: auto; height: auto"
            div
        ></div>
    </body>
</html>
