<nav>
    <div class="logo">
        <img src="/images/logo.png" title="Seccion Asmática" alt="seccion asmatica">
        <div class="nombrePagina">
            <div class="programa">Programa de Asma Grave</div>
            <div class="hospital">Hospital Pediatrico del Niño Jesús</div>
        </div>
        <i class="toggleButton fas fa-bars"></i>
    </div>

    <div class="mainBody">
        <div class="secciones">
            <a href="/"><div class="inicio title">inicio</div></a>
            <a href="/verPostsUsuario"><div class="articulos title">artículos</div></a>
            <div class="divisiones title">
                <span>Divisiones <i class="fa-solid fa-caret-down"></i></span>
                <div class="menuDropdown">
                    <div class="ul">
                        <div class="li kinesiologia"><a href="/kinesiologia*">Kinesiología</a></div>
                        <div class="li saludMental"><a href="/saludmental">Salud mental</a></div>
                        <div class="li neumonologia"><a href="/neumonologia">Neumonología</a></div>
                    </div>
                </div>
            </div>
            <a href="/seccionAdmin"><div class="administracion title">Administración</div></a>
            <a href="/contactanos"><div class="contacto title">Contacto</div></a>
        </div>
        <div class="ingresoAdmin">
            <% if(login){ %>
                <a href="/logout"><button type="button">Cerrar sesión</button></a>  
                
            <%}else{ %>
                <a href="/login"><button type="button">Iniciar sesión</button></a>  
            <%}%>
        </div>
    </div>
</nav>
<script>
    //Dropdown menu
    let divisionesEl = document.querySelector(".divisiones");

    divisionesEl.addEventListener("click", function(){
        document.querySelector(".divisiones ul").classList.toggle("show");
    })

    //Shrinking nav
    let navEl = document.querySelector("nav");

    $(document).ready(function(){
        let shrink = 60;
        $(window).scroll(function(){
            let scroll = getCurrentScroll();
            if(scroll >= shrink){
                $(navEl).addClass('shrink');
            }
            else{
                $(navEl).removeClass('shrink');
            }
        });
        function getCurrentScroll(){
            return window.pageYOffset || document.documentElement.scrollTop;
        }
    });

    //toggle btn
    let toggleBtnEl = document.querySelector(".toggleButton");
    let seccionesEl = document.querySelector(".mainBody");

    toggleBtnEl.addEventListener("click", () => {
        seccionesEl.classList.toggle("active");
    })

</script>
<script src="https://kit.fontawesome.com/6e2e3e8384.js" crossorigin="anonymous"></script>