<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="navbar-brand mx-auto d-lg-none" href="#hero">
                Medic Care
                <strong class="d-block">Health Specialist</strong>
            </a>

            <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="navbar-collapse collapse"
                id="navbarNav"
            >
            
                <img
                src="images/logo.png"
                class="img-fluid galleryImage logo"
                alt="get a vaccine"
                title="get a vaccine for yourself"
            />
                    

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#hero">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>            

                    <a class="navbar-brand d-none d-lg-block">
                        Programa de Asma Grave<strong class="d-block">Hospital Pediátrico del Niño Jesús</strong>
                    </a>

                    <li class="nav-item">
                        <a class="nav-link" href="#reviews"
                            >Testimonials</a
                        >
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#contact"
                            >Contact</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>