<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="navbar-brand mx-auto d-lg-none" href="#hero">
                Programa de Asma Grave
                <strong class="d-block">Hospital Pediátrico del Niño Jesús</strong>
            </a>

            <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="navbar-collapse collapse"
                id="navbarNav"
            >
                
                <img
                src="images/logo.png"
                class="animate__animated  animate__backInLeft img-fluid logo navbar-brand d-none d-lg-block " 
                alt="get a vaccine"
                title="get a vaccine for yourself"
            />
                    

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>            

                    <a class="animate__animated animate__backInDown navbar-brand d-none d-lg-block">
                        Programa de Asma Grave<strong class="d-block">Hospital Pediátrico del Niño Jesús</strong>
                    </a>

                    <li class="nav-item">
                        <a class="nav-link" href="#reviews"
                            >Testimonials</a
                        >
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact"
                            >Contact</a
                        >
                    </li>
                    <% if(login == true){ %>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary botonposteo"><a href="subirPost"
                                > Postear</a
                            ></button>
                    </li>
                <%}%>
                    <% if(login){ %>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary botoncerrarsesion"><a href="logout"
                                >Cerrar sesion</a
                            ></button>
                    </li>
                 <% } else{ %>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary botoninicio"><a href="login"
                        >Iniciar sesión</a
                    ></button>
                    
                </li>
                <%}%>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>