<section class="section-padding pb-0" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-lg-5 mb-4">Las Opiniones</h2>

                <div class="owl-carousel reviews-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div
                            class="owl-stage"
                            style="
                                transition: all 0.5s ease 0s;
                                width: 3184px;
                                transform: translate3d(-1000px, 0px, 0px);
                            "
                        >
                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Primera
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/paciente.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Segunda
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Tercera
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Cuarta
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Quinta
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Sexta
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Octava
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <div class="container">
                                    <div class="row">
                                        <figure
                                            class="reviews-thumb d-flex flex-wrap align-items-center rounded sombra"
                                        >
                                            <div class="col-4">
                                                <img
                                                    src="/images/disparador.jpg"
                                                    class="img-fluid"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="col-6">
                                                <p
                                                    class="text-primary d-block mt-2 mb-0 w-100 sombra"
                                                >
                                                    <strong
                                                        >Novena
                                                        Publicacion</strong
                                                    >
                                                </p>

                                                <p class="reviews-text w-100">
                                                    Cada vez mas personas hacen
                                                    falta de disparadores, por
                                                    eso es que nostros
                                                    proporcionamos por si lo
                                                    necesitan.
                                                </p>

                                                <img
                                                    src="/images/señora3.jpg"
                                                    class="img-fluid reviews-image"
                                                    alt=""
                                                />

                                                <figcaption class="ms-4">
                                                    <strong>Laura Zono</strong>

                                                    <span class="text-muted"
                                                        >New Patient</span
                                                    >
                                                </figcaption>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>
