<section class="section-padding pb-0" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-lg-5 mb-4">Our Patients</h2>

                <div class="owl-carousel reviews-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div
                            class="owl-stage"
                            style="
                                transition: all 0.3s ease 0s;
                                width: 3184px;
                                transform: translate3d(-1393px, 0px, 0px);
                            "
                        >
                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Great services!</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Vestibulum ante ipsum primis in faucibus
                                        orci luctus et ultrices posuere cubilia
                                        curae; Donec sit amet velit vitae purus
                                        aliquam efficitur.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Laura Zono</strong>

                                        <span class="text-muted"
                                            >New Patient</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Best Advices</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Integer posuere erat a ante venenatis
                                        dapibus posuere velit aliquet. Maecenas
                                        faucibus mollis interdum. Donec
                                        ullamcorper nulla non metus auctor
                                        fringilla.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Rosey</strong>

                                        <span class="text-muted"
                                            >Almost Recovered</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Best Health Care</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Phasellus ligula ante, tempus ac
                                        imperdiet ut, mattis ac nibh. Orci
                                        varius natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus
                                        mus.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Marie</strong>

                                        <span class="text-muted">Patient</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Doctor cares everyone!</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Donec in elementum orci, nec posuere
                                        ligula. Quisque vulputate diam et
                                        ullamcorper ullamcorper. Pellentesque
                                        vestibulum neque at leo fermentum
                                        mattis.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Ben Walker</strong>

                                        <span class="text-muted"
                                            >Recovered</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item active center"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Great services!</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Vestibulum ante ipsum primis in faucibus
                                        orci luctus et ultrices posuere cubilia
                                        curae; Donec sit amet velit vitae purus
                                        aliquam efficitur.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Laura Zono</strong>

                                        <span class="text-muted"
                                            >New Patient</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item active"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Best Advices</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Integer posuere erat a ante venenatis
                                        dapibus posuere velit aliquet. Maecenas
                                        faucibus mollis interdum. Donec
                                        ullamcorper nulla non metus auctor
                                        fringilla.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Rosey</strong>

                                        <span class="text-muted"
                                            >Almost Recovered</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Best Health Care</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Phasellus ligula ante, tempus ac
                                        imperdiet ut, mattis ac nibh. Orci
                                        varius natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus
                                        mus.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Marie</strong>

                                        <span class="text-muted">Patient</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div
                                class="owl-item cloned"
                                style="width: 298px; margin-right: 100px"
                            >
                                <figure
                                    class="
                                        reviews-thumb
                                        d-flex
                                        flex-wrap
                                        align-items-center
                                        rounded
                                        sombra
                                    "
                                >
                                    <div class="reviews-stars">
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p
                                        class="
                                            text-primary
                                            d-block
                                            mt-2
                                            mb-0
                                            w-100
                                            sombra
                                        "
                                    >
                                        <strong>Doctor cares everyone!</strong>
                                    </p>

                                    <p class="reviews-text w-100">
                                        Donec in elementum orci, nec posuere
                                        ligula. Quisque vulputate diam et
                                        ullamcorper ullamcorper. Pellentesque
                                        vestibulum neque at leo fermentum
                                        mattis.
                                    </p>

                                    <img
                                        src="https://res.cloudinary.com/demo/image/upload/sample.jpg"
                                        class="img-fluid reviews-image"
                                        alt=""
                                    />

                                    <figcaption class="ms-4">
                                        <strong>Ben Walker</strong>

                                        <span class="text-muted"
                                            >Recovered</span
                                        >
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav" style="width: 598px">
                        <button
                            type="button"
                            role="presentation"
                            class="owl-prev"
                        >
                            <span aria-label="Previous">‹</span></button
                        ><button
                            type="button"
                            role="presentation"
                            class="owl-next"
                        >
                            <span aria-label="Next">›</span>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>
