<link rel="stylesheet" href="/css/tarjetas.css">
<div class="container">
<div class="row">
<div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="/images/grupoasma2.jpg" class="img " width="90%" height="90%" title="get a vaccine for yourself">
      </div>
      <div class="card-inner">
        <div class="header">
          <div>¿Por qué y desde cuando hacemos esto?</div>
      </div>
      <div class="content">
        <div>El objetivo es lograr estabilizar los síntomas de asma, asociados a factores emocionales como disparadores de las crisis de asma, para mejorar la calidad de vida. El asma es una enfermedad crónica que con un abordaje interdisciplinario, puede mejorar su manejo y disminuir las consultas e internaciones. Estamos trabajando en el programa de asma grave desde junio del 2019</div>
      </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="/images/asma.jpg" class="img" width="100%" height="100%" title="get a vaccine for yourself">
      </div>
      <div class="card-inner">
        <div class="header">
          <div>¿Cómo nosotros combatimos el asma?</div>
      </div>
      <div class="content">
        <div>Trabajamos con entrevistas familiares e individuales, realizando psicoeduacion y psicoterapia, de acuerdo al caso particular. Focalizamos en la comprensión de la enfermedad, la adherencia al tratamiento y la calidad de vida del paciente y su familia.</div>
      </div>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="image">
        <img src="/images/sala.jpg" class="img " alt="get a vaccine" title="get a vaccine for yourself">
      </div>
      <div class="card-inner">
        <div class="header">
          <div>¿Como podemos saber si sufrimos asma?</div>
      </div>
      <div class="content">
        <div>Tener tos persistente, ruidos en el pecho, dificultad para respirar así como dolor torácico o ronquidos exagerados al dormir son algunos de los síntomas que pueden alertar sobre un problema respiratorio. En estas ocasiones es bastante común acudir a un médico especialista en Neumología para tratar de forma eficaz los síntomas y evitar la progresión de una enfermedad respiratoria.</div>
      </div>
        </div>
    </div>
</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="card">
          <div class="card-inner">
            <div class="header" style="text-align:center ;">
              <div>Tipos de Asma</div>
          </div>
          <div class="content">
            <div><div class="container">
                <div class="row">
                  <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/16.svg" height="30">
                  </div>
                  
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma mb-lg-2 mb-7">
                        Asma Alergica:
                    </p>
                        El asma alérgica es el
                tipo más común.
                    
                  </div>
              
                  <!-- Force next columns to break to new line -->
                  <div class="w-100"></div>

                  <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/13.svg" height="30">
                  </div>
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma mb-lg-2 mb-7"> Asma Estacional:
                        
                    </p>
                        En el
                        asma estacional, los síntomas reaparecen
                        en ciertas condiciones o en épocas
                        particulares del año.
                     
                 </div>

                 <div class="w-100 mb-lg-2 mb-7"></div>

                 <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/28.svg" height="30">
                  </div>
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma">Asma Ocupacional:</p>
                     Las personas con asma ocupacional
                    pueden notar que sus síntomas empeoran
                    mientras trabajan.
                 </div>

                 <div class="w-100"></div>

                 <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/20.svg" height="30">
                  </div>
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma mb-lg-2 mb-7">Asma Inducida Ejercicios:</p>
                     El asma inducida por
                    ejercicios ocurre cuando los síntomas
                    aparecen durante o inmediatamente
                    después de hacer ejercicio u otra forma
                    de actividad extenuante.
                 </div>

                 <div class="w-100 "></div>

                 <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/50.svg" height="30">
                  </div>
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma mb-lg-2 mb-7">Asma dificl de Controlar:</p>
                    El asma difícil de controlar
                    no es un subtipo o diagnóstico aceptado,
                    sino según pacientes cuesta más
                    controlarla.

                 </div>

                 <div class="w-100"></div>

                 <div class="col-md-1 col-sm-2">
                    <img src="/medical-icons/38.svg" height="30">
                  </div>
                  <div class="col-md-8 col-sm-10 fst-italic">
                    <p class="text-asma mb-lg-2 mb-7">Asma Severa:</p>
                     El asma
                    severa, o el asma frágil, afecta a
                    aproximadamente el 4% de todos los
                    adultos con asma.
                 </div>
                 
                </div>
              </div></div>
          </div>
            </div>
        </div>
      </div>

</div>